<!DOCTYPE html>
<html lang="es">
<head>
    <title> INFORMACION PERSONAL </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style/style4.css">
     </head>
     <body>
            <nav>
                    <ul class="contenedor">
                        <ul class="hijo"><a href="./portafolio.html">Portafolio</a></ul>
                        <ul class="hijo"><a href="./informacion_personal.html">Contacto</a></ul>
                        <ul class="hijo"><a href="./registrate.html">Registrate</a></ul>
                        <ul class="hijo"><a href="./inicio.html">Inicia Sesion</a></ul>
                    </ul>
                 </nav>
        
             

        <main>
            <img class="imagen" src="https://via.placeholder.com/150" alt="foto rostro hombre con gafas">
   
            <h1>Informacion personal </h1>
                    <ul class="lista">
                        <li> Nombre:texy david diaz sanchez </li>
                        <li>Profesion: ingeniero de redes y comunicaciones</li>
                        <li> Edad:35 años  </li>
                        <li>Numero telefonico :+34 603-384-144</li>
                        <li>Direccion: calle portalegre #100 puerta 7-A, Madrid España</li>
                    </ul>
                    <a href="mailto:email@example.com"> correo electronico </a>
                    <a href="#bio">  </a>
                    
    </main>
     </body>
     
</html>
                    
