<!DOCTYPE html>
<html lang="es">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>portafolio de trabajo</title>
                <link rel="stylesheet" href="../style/style.css">
              
              </head>
    <body>
        <nav>
            <ul class="contenedor">
                <ul class="hijo"><a href="./portafolio.html">Portafolio</a></ul>
                <ul class="hijo"><a href="./informacion_personal.html">Contacto</a></ul>
                <ul class="hijo"><a href="./registrate.html">Registrate</a></ul>
                <ul class="hijo"><a href="./inicio.html">Inicia Sesion</a></ul>
            </ul>
         </nav>
     <section class="portafolio">
         <h1> Nuestro Portafolio </h1>
         <div class="portafolio-container">
             <section class="portafolio-item">
                 <img src="..//resources/imagen1.jpg" alt="" class="portafolio-img">
                 <section class="portafolio-text">
                     <h2>Desarrollo de Paginas Web</h2>
                     <p>Desarrollo de paginas web, ofeciendo siempre un  servicio de calidad , en tiempo record y con los mejores precios del mercado</p>
                 </section>
             </section>
             <section class="portafolio-item">
                 <img src="..//resources/imagen2.jpg" alt="" class="portafolio-img">
                    <section class="portafolio-text">
                        <h2>Desarrollo de Aplicaciones Moviles</h2>
                        <p>Desarrollo de aplicaciones web y moviles,ofeciendo siempre un  servicio de calidad , en tiempo record y con los mejores precios del mercado</p>
                    </section>
                </section>
                <section class="portafolio-item">
                 <img src="..//resources/imagen3.jpg" alt="" class="portafolio-img">
                        <section class="portafolio-text">
                            <h2>Desarrollo de Paginas para Ventas Ónline</h2>
                            <p>Desarrollo de aplicaciones de marketplaces,ofeciendo siempre un  servicio de calidad,en tiempo record y con los mejores precios del mercado</p>
                        </section>
                    </section>
                    
         </div>
         <div class="portafolio-container">
            <section class="portafolio-item">
                <img src="..//resources/imagen1.jpg" alt="" class="portafolio-img">
                <section class="portafolio-text">
                    <h2>Desarrollo de Paginas Web</h2>
                    <p>Desarrollo de paginas web, ofeciendo siempre un  servicio de calidad , en tiempo record y con los mejores precios del mercado</p>
                </section>
            </section>
            <section class="portafolio-item">
                <img src="..//resources/imagen2.jpg" alt="" class="portafolio-img">
                   <section class="portafolio-text">
                       <h2>Desarrollo de Aplicaciones Moviles</h2>
                       <p>Desarrollo de aplicaciones web y moviles,ofeciendo siempre un  servicio de calidad , en tiempo record y con los mejores precios del mercado</p>
                   </section>
               </section>
               <section class="portafolio-item">
                <img src="..//resources/imagen3.jpg" alt="" class="portafolio-img">
                       <section class="portafolio-text">
                           <h2>Desarrollo de Paginas para Ventas Ónline</h2>
                           <p>Desarrollo de aplicaciones de marketplaces,ofeciendo siempre un  servicio de calidad,en tiempo record y con los mejores precios del mercado</p>
                       </section>
                   </section>
            

     </section>
     
   
        

    </body>    
</html>