<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MFR Pokédex</title>
  <link rel="stylesheet" href="../style/styleflexbox.css">
  <!-- <link rel="stylesheet" href="ruta-para-tu-fichero-css"> -->
</head>
<body>
    <section class="logo_container">
      <img class="pokedex_logo" src="../resources/pokeball.png" alt="imagen frontal"> <img>
      <img class="pokedex_front-image" src="../resources/pokemon_logo.png" alt="imagen trasera"> <img>
    </section>

    <section class="pokedex__pokemon-list">
        <div class="container">
                <div class="hijo">
                <div class="pokemon-card__image-container">
                        <img src="../resources/pokemon 001.png" alt="pokemon 001" class="pokemon-card__image">
        </div>
        </div>
        <div class="hijo">
                <div class="pokemon-card__image-container">
                        <img src="../resources/pokemon 002.png" alt="pokemon 002" class="pokemon-card__image">
                        </div>
                        </div>
        <div class="hijo">
                <div class="pokemon-card__image-container">
                        <img src="../resources/pokemon 003.png" alt="pokemon 002" class="pokemon-card__image">
                        </div>
                        </div>

                        <div class="hijo">
                                <div class="pokemon-card__image-container">
                                        <img src="../resources/pokemon 004.png" alt="pokemon 002" class="pokemon-card__image">
                                        </div>
                                        </div>
        <div class="hijo">
                <div class="pokemon-card__image-container">
                        <img src="../resources/pokemon 005.png" alt="pokemon 002" class="pokemon-card__image">
                        </div>
                        </div>

        </div>
           
                  
          











    </section>





















</body>