<!DOCTYPE html>
<html lang="es">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>portafolio de trabajo</title>
                <link rel="stylesheet" href="../style/style.css">
              
              </head>
    <body>
        

    
     
         <ul class="contenedor">
           <ul class="hijo"><a href="./">Portafolio</a></ul>
           <ul class="hijo"><a href="./">Proyectos</a></ul>
           <ul class="hijo"><a href="./">Contacto</a> </ul>
        </ul>
     

    <div class="">

   
</div>

        
<section>
<div class="titulo">
    <div><span class="">Diseñador</span><br></div>
    <div><span class="">Web</span><br></div>
    <div><span class="">Freelance<br></span></div>
    <div class="">
    <p >Desarrollo de paginas web, ofeciendo siempre un  servicio de calidad , en tiempo record y con los mejores precios del mercado</p>
    </div>
    <hr/>
</div>
<main>
</section>


<section>
        <div class="imagen">
                <img src="..//resources/imagen 1.jpg" width="250" height="199" title="imagen 2" alt="imagen app"/>  
                            
    <div class="titulo">
        <div><span class="">Desarrollo</span><br></div>
        <div><span class="">De </span><br></div>
        <div><span class="">Aplicaciones<br></span></div>
       
            </div>
            <div class="texto">
                <p>Desarrollo de aplicaciones web y moviles,ofeciendo siempre un  servicio de calidad , en tiempo record y con los mejores precios del mercado </p>
                </div>
        <hr/>
    </div>

    </section>

    <section>
            <div class="imagen">
                    <h1> <img src="..//resources/imagen 4.jpg" width="250" height="199" title="imagen 2" alt="imagen app"/>  </h1>
                                </div>
        <div class="titulo">
            <div><span class="">Desarrollo</span><br></div>
            <div><span class="">De </span><br></div>
            <div><span class="">Marketplaces<br></span></div>
            <div class="texto">
                    <p>Desarrollo de aplicaciones de marketplaces,ofeciendo siempre un  servicio de calidad,en tiempo record y con los mejores precios del mercado </p>
                    </div>
            <hr/>
        </div>
    
        </section>

        <section>
                <div class="imagen">
                        <h1> <img src="..//resources/imagen 6.jpg" width="250" height="199" title="imagen 2" alt="imagen app"/>  </h1>
                                    </div>
            <div class="titulo">
                <div><span class="">Desarrollos</span><br></div>
                <div><span class="">A la </span><br></div>
                <div><span class="">Medida<br></span></div>
                <div class="texto">
                        <p>Desarrollo de aplicaciones webs a la medida,ofeciendo siempre un  servicio de calidad , en tiempo record y con los mejores precios del mercado </p>
                        </div>
                <hr/>
            </div>


        </main>

<footer>
    <h2>Ing. Texy Diaz Sanchez</h2>
    <div class="datos">
    <p> Numero Telefonico :+34 603-384-144 </p>
        <a href="mailto:email@example.com"> correo electronico </a>
    </div>
    <div class="footer">
        <nav>
        <ul>
                <span><a href="./">Portafolio</a></span>
                <span><a href="./">Proyectos</a></span>
                <span><a href="./">Contacto</a> </span>
             </ul>
    </nav>
    </div>
</footer>
    </body>
    </html>