<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MFR Pokédex</title>
  <link rel="stylesheet" href="../style/style.css">
  <!-- <link rel="stylesheet" href="ruta-para-tu-fichero-css"> -->
</head>
<body>
    <section class="pokedex__logo-container">
      <!-- CONTENEDOR PARA LAS IMÁGENES DE CABECERA -->
      <img class="pokedex__front-image" src="..//resources/pokeball.png" alt="pokeball" > <img>
      <img class="pokedex__back-image" src="../resources/pokemon_logo.png" alt="logo pokemon"> <img>
     </section>


    <section  class="pokedex__pokemon-list">
      <!-- Plantilla de cada tarjeta pokemon -->
      <div class="pokedex__pokemon-card">
            <div class="pokemon-card__image-container">
                  <img src="../resources/pokemon 001.png" alt="pokemon 001" class="pokemon-card__image">
            </div>
        <div class="pokemon-card__description">
          <!-- Descripción del pokemon -->
          <p class="pokemon-card__number">Nº001</p>
              <!-- Índice del pokemon -->
         
          <h4 class="pokemon-card__name">
              balbasur
            <!-- Nombre del pokemon -->
          </h4>
          <div class="pokemon-card__types"> 
            <!-- Tipo de pokemon -->

            <div class="pokemon-type pokemon-type--plant">Plant</div>
            <div class="pokemon-type pokemon-type--poison">Poison</div>
          </div>
        </div>
      </div>

      <div class="pokedex__pokemon-card">
          <div class="pokemon-card__image-container">
            <img src="../resources/pokemon 002.png" alt="" class="pokemon-card__image">
          </div>
          <div class="pokemon-card__description">
            <p class="pokemon-card__number">Nº002</p>
            <h4 class="pokemon-card__name">
              Charmander
            </h4>
            <div class="pokemon-card__types">
              <div class="pokemon-type pokemon-type--fire">Fire</div>
            </div>
          </div>
        </div>
    
        <div class="pokedex__pokemon-card">
            <div class="pokemon-card__image-container">
              <img src="../resources/pokemon 003.png" alt="" class="pokemon-card__image">
            </div>
            <div class="pokemon-card__description">
              <p class="pokemon-card__number">Nª003</p>
              <h4 class="pokemon-card__name">
                Caterpie
              </h4>
              <div class="pokemon-card__types">
                <div class="pokemon-type pokemon-type--bug">Bug</div>
              </div>
            </div>
          </div>

          <div class="pokedex__pokemon-card">
              <div class="pokemon-card__image-container">
                <img src="../resources/pokemon 004.png" alt="" class="pokemon-card__image">
              </div>
              <div class="pokemon-card__description">
                <p class="pokemon-card__number">Nº004</p>
                <h4 class="pokemon-card__name">Kakuna</h4>
                <div class="pokemon-card__types">
                  <div class="pokemon-type pokemon-type--bug">Bug</div>
                  <div class="pokemon-type pokemon-type--poison">Poison</div>
                </div>
              </div>
            </div>

            <div class="pokedex__pokemon-card">
                <div class="pokemon-card__image-container">
                  <img src="../resources/pokemon 005.png" alt="" class="pokemon-card__image">
                </div>
                <div class="pokemon-card__description">
                  <p class="pokemon-card__number">Nº005</p>
                  <h4 class="pokemon-card__name">Ratata</h4>
                  <div class="pokemon-card__types">
                    <div class="pokemon-type pokemon-type--normal">Normal</div>
                  </div>
                </div>
              </div>

              <div class="pokedex__pokemon-card">
                  <div class="pokemon-card__image-container">
                    <img src="../resources/pokemon 006.png" alt="" class="pokemon-card__image">
                  </div>
                  <div class="pokemon-card__description">
                    <p class="pokemon-card__number">Nº006</p>
                    <h4 class="pokemon-card__name">Pikachu</h4>
                    <div class="pokemon-card__types">
                      <div class="pokemon-type pokemon-type--electric">Electrical</div>
                    </div>
                  </div>
                </div>

                <div class="pokedex__pokemon-card">
                    <div class="pokemon-card__image-container">
                      <img src="../resources/pokemon 007.png" alt="" class="pokemon-card__image">
                    </div>
                    <div class="pokemon-card__description">
                      <p class="pokemon-card__number">Nº007</p>
                      <h4 class="pokemon-card__name">Vulpix</h4>
                      <div class="pokemon-card__types">
                        <div class="pokemon-type pokemon-type--fire">Fire</div>
                      </div>
                    </div>
                  </div>

                  <div class="pokedex__pokemon-card">
                      <div class="pokemon-card__image-container">
                        <img src="../resources/pokemon 008.png" alt="" class="pokemon-card__image">
                      </div>
                      <div class="pokemon-card__description">
                        <p class="pokemon-card__number">Nº008</p>
                        <h4 class="pokemon-card__name">Jigglypuff</h4>
                        <div class="pokemon-card__types">
                          <div class="pokemon-type pokemon-type--normal">Normal</div>
                          <div class="pokemon-type pokemon-type--fairy">Fairy</div>
                        </div>
                      </div>
                    </div>

                    <div class="pokedex__pokemon-card">
                        <div class="pokemon-card__image-container">
                          <img src="../resources/pokemon 009.png" alt="" class="pokemon-card__image">
                        </div>
                        <div class="pokemon-card__description">
                          <p class="pokemon-card__number">Nº009</p>
                          <h4 class="pokemon-card__name">Diglett</h4>
                          <div class="pokemon-card__types">
                            <div class="pokemon-type pokemon-type--earth">Earth</div>
                          </div>
                        </div>
                      </div>

                      <div class="pokedex__pokemon-card">
                          <div class="pokemon-card__image-container">
                            <img src="../resources/pokemon 010.png" alt="" class="pokemon-card__image">
                          </div>
                          <div class="pokemon-card__description">
                            <p class="pokemon-card__number">Nº010</p>
                            <h4 class="pokemon-card__name">Meowth</h4>
                            <div class="pokemon-card__types">
                              <div class="pokemon-type pokemon-type--normal">Normal</div>
                            </div>
                          </div>
                        </div>

                        <div class="pokedex__pokemon-card">
                            <div class="pokemon-card__image-container">
                              <img src="../resources/pokemon 011.png" alt="" class="pokemon-card__image">
                            </div>
                            <div class="pokemon-card__description">
                              <p class="pokemon-card__number">Nº011</p>
                              <h4 class="pokemon-card__name">Tentacruel</h4>
                              <div class="pokemon-card__types">
                                <div class="pokemon-type pokemon-type--water">Water</div>
                                <div class="pokemon-type pokemon-type--poison">Poison</div>
                              </div>
                            </div>
                          </div>

                          <div class="pokedex__pokemon-card">
                              <div class="pokemon-card__image-container">
                                <img src="../resources/pokemon 012.png" alt="" class="pokemon-card__image">
                              </div>
                              <div class="pokemon-card__description">
                                <p class="pokemon-card__number">Nº012</p>
                                <h4 class="pokemon-card__name">Ponyta</h4>
                                <div class="pokemon-card__types">
                                  <div class="pokemon-type pokemon-type--fire">Fire</div>
                                </div>
                              </div>
                            </div>

                            <div class="pokedex__pokemon-card">
                                <div class="pokemon-card__image-container">
                                  <img src="../resources/pokemon 013.png" alt="" class="pokemon-card__image">
                                </div>
                                <div class="pokemon-card__description">
                                  <p class="pokemon-card__number">Nº013</p>
                                  <h4 class="pokemon-card__name">Cloyster</h4>
                                  <div class="pokemon-card__types">
                                    <div class="pokemon-type pokemon-type--water">Water</div>
                                    <div class="pokemon-type pokemon-type--ice">Ice</div>
                                  </div>
                                </div>
                              </div>

                              <div class="pokedex__pokemon-card">
                                  <div class="pokemon-card__image-container">
                                    <img src="../resources/pokemon 014.png" alt="" class="pokemon-card__image">
                                  </div>
                                  <div class="pokemon-card__description">
                                    <p class="pokemon-card__number">Nº014</p>
                                    <h4 class="pokemon-card__name">Cubone</h4>
                                    <div class="pokemon-card__types">
                                      <div class="pokemon-type pokemon-type--earth">Earth</div>
                                    </div>
                                  </div>
                                </div>

                                <div class="pokedex__pokemon-card">
                                    <div class="pokemon-card__image-container">
                                      <img src="../resources/pokemon 015.png" alt="" class="pokemon-card__image">
                                    </div>
                                    <div class="pokemon-card__description">
                                      <p class="pokemon-card__number">Nº015</p>
                                      <h4 class="pokemon-card__name">Eevee</h4>
                                      <div class="pokemon-card__types">
                                        <div class="pokemon-type pokemon-type--normal">Normal</div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="pokedex__pokemon-card">
                                      <div class="pokemon-card__image-container">
                                        <img src="../resources/pokemon 016.png" alt="" class="pokemon-card__image">
                                      </div>
                                      <div class="pokemon-card__description">
                                        <p class="pokemon-card__number">Nª016</p>
                                        <h4 class="pokemon-card__name">Porygon</h4>
                                        <div class="pokemon-card__types">
                                          <div class="pokemon-type pokemon-type--poison">Normal</div>
                                        </div>
                                      </div>
                                    </div>
    </section>

</body>
</html>