<!DOCTYPE html>
<html lang="es">
<head>
    <title> INFORMACION PERSONAL </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
     </head>
     <body>
        
             
    <header>
        <nav class="menu">
                <span><a href="./inicio.html">Inicio</a></span>
                <span><a href="./informacion_personal.html">Informacion Personal</a></span>
                <span><a href="./Estudios_realizados.html">Estudios Realizados</a> </span>
                <span><a href="./experiencia_laboral.html">Experiencia laboral</a></span>
                <span><a href="./registrate.html">Registrate</a></span>
        </nav>
        <main>
        
        </header>
            <img class="imagen" src="https://via.placeholder.com/150" alt="foto rostro hombre con gafas">
   
            <h1>Informacion personal </h1>
                    <ul class="lista">
                        <li> Nombre:texy david diaz sanchez </li>
                        <li>Profesion: ingeniero de redes y comunicaciones</li>
                        <li> Edad:35 años  </li>
                        <li>Numero telefonico :+34 603-384-144</li>
                        <li>Direccion: calle portalegre #100 puerta 7-A, Madrid España</li>
                    </ul>
                    <a href="mailto:email@example.com"> correo electronico </a>
                    <a href="#bio">  </a>
                    
    </main>
     </body>
     
</html>
                    
