.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .slider {
    width: 50vw;
    background: black;
    padding: 1rem;
  }
  
  img {
    width: 100%;
  }